@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  /* (Dark Mode Elements) */
  --dark-blue: hsl(209, 23%, 22%);
  /* (Dark Mode Background) */
  --very-dark-blue-dark-mode-bg: hsl(207, 26%, 17%);
  /* (Dark mode shadow) */
  --dark-shadow: hsl(207, 24%, 16%);
  /* (Light Mode Shadow) */
  --light-shadow: rgb(214, 214, 214);
  /* (Light Mode Text) */ 
  --very-dark-blue-light-mode-txt: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --dark-gray: hsl(0, 0%, 52%);
  /* (Light Mode Background) */
  --very-light-gray: hsl(0, 0%, 98%);
  /* (Dark Mode Text & Light Mode Elements) */
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}